audio::-webkit-media-controls-play-button{
            background-color:green;}
audio.special::-webkit-media-controls-play-button{
            display: none;}
audio::-webkit-media-controls-timeline-container{
            display: none;}
#media{
            pointer-events: none;
        }
#guess{
            display: none;}
        }
